page-proposal-home {
    font-family: cursive;
    ion-content {
        background-image: url('../assets/img/bg-img/slide1.jpg');
        background-size: 115%, 100%;
        background-repeat: no-repeat;
    }
    .proposal_home {
        height: 100%;
        section {
            @include box(100%,
            25%);
            margin-top: 3%;
            background-size: 100%, 100%;
            background-repeat: no-repeat;
            text-align: center; // line-height: 140px;
            display: flex;
            align-items: center;
            color: rgb(255, 255, 255);
            font-size: 1.8rem;
            span {
                width: 100%;
            }
        }
        section:first-child {
            background-image: url('../assets/img/proposal/1.png');
        }
        section:nth-child(2) {
            background-image: url('../assets/img/proposal/2.png');
        }
        section:nth-child(3) {
            background-image: url('../assets/img/proposal/3.png');
        }
    }
}