page-error {
    ion-content {
        text-align: center;
    }
    .error_heard {
        padding-top: 20px;
    }
    .error_heard img {
        width: 62%;
    }
    .error_p {
        // border-bottom: 1px solid rgb(128, 128, 128);
        font-size: 2.6rem;
        padding-bottom: 15px;
        color: rgb(128, 128, 128);
        font-family: cursive;
    }
    .error_line {
        min-height: 2px;
        background: -webkit-linear-gradient(left, white 5%, gray 50%, white 95%); // background: -linear-gradient(left, white 5%, gray 50%, white 95%);
    }
    .error_btn {
        min-height: 34px;
        min-width: 100px;
        color: rgb(128, 128, 128);
        background: -webkit-gradient(linear, top, white 5%, gray 50%, white 95%);
        border: 1px solid rgb(128, 128, 128);
        border-radius: 5px;
        margin-top: 23%;
        /* position: absolute; */
        /* bottom: 120px; */
        /* left: 35%; */
        height: auto !important;
        background-repeat: no-repeat;
        background-position: 11px;
    }
}