<!--
  Generated template for the ClickPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="life">
        <ion-title>打卡页面</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
             </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <audio src="assets/sound/boom.mp3" style="opacity:0" autoplay="true">
    您的浏览器不支持 audio 标签。
    </audio>
    <section class="heard_time">
        <p>{{time | intToTime}}</p>
    </section>

    <section class="click_button_out">
        <p>{{contentString}}</p>
        <div tappable class="two click_button_left " *ngIf="!clickFlag " (click)="clickEnd()" [ngStyle]=" { 'right': !clickFlag? '20px': ''} " [ngClass]="{'click_button_center':clickFlag}">
            <div class=" click_button_in ">结束</div>
        </div>
        <div tappable class="one" (click)="clickStart()" [ngStyle]="{'left': !clickFlag? '20px': ''}" [ngClass]="{'click_button_center':clickFlag}">
            <div class="click_button_in " *ngIf="clickFlag && time=='0'">开始</div>
            <div class="click_button_in " *ngIf="clickFlag && time!='0'">继续</div>
            <div [ngStyle]="{ 'background': !clickFlag? 'gray': 'blue' } " class=" click_button_in " *ngIf="!clickFlag ">暂停</div>
        </div>
    </section>
</ion-content>