<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  tappable
-->
<ion-header>
    <ion-toolbar>
        <ion-scroll scrollbar-x="false" scrollX scrollbar-y="false" scrollY="false">
            <div class="scroll-item" [ngClass]="{'choosed':choosed === item.id}" (click)="chooseTab(item)" *ngFor="let item of tabsList">
                {{item.text}}
            </div>
        </ion-scroll>
        <ion-buttons end style="min-width: 43px;text-align: center;">
            <button (click)="openMenu($event)" ion-button icon-only color="life">
             <ion-icon ios="ios-add-outline" md="ios-add-outline"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!--<ion-scroll scrollX style="height:40px;">
    </ion-scroll>-->
    <ion-card *ngFor="let item of personList">

        <img class="animated linear bounceInDown" src="assets/img/one-piece/{{item.heard_img}}" />

        <ion-card-content>
            <ion-card-title>
                {{item.name}}
            </ion-card-title>
            <p>
                {{item.introduction}}
            </p>
        </ion-card-content>

        <ion-item>
            <ion-icon name='ios-bonfire' item-start style="color: #d03e84"></ion-icon>
            人气
            <ion-badge item-end color="life">{{item.charmNum}}</ion-badge>
        </ion-item>

        <ion-item>
            <ion-icon name='ios-cog' item-start style="color: #55acee"></ion-icon>
            战斗力
            <ion-badge item-end color="life">{{item.ability}}</ion-badge>
        </ion-item>

    </ion-card>
</ion-content>