page-custom-add {
    font-size: 1.5rem;
    ion-item {
        border-bottom: 0.55px solid rgb(200, 199, 204)!important;
        .item-inner {
            border-bottom: none!important;
        }
        .text-input {
            text-align: right;
        }
    }
    .title_msg {
        min-height: 30px;
        line-height: 30px;
        padding: 10px 50px;
        color: green;
        ion-icon {
            position: absolute;
            left: 10px;
            margin-top: -3px;
            font-size: 3.5rem;
        }
    }
    .head_img {
        text-align: center; // line-height: 180px;
        min-height: 180px;
        background: url('../assets/img/bg-img/head.png');
        background-size: 100% 100%;
        padding-top: 30px;
        div {
            width: 120px;
            height: 120px;
            margin-left: 35%;
            border: 3px solid green;
            padding: 12px;
            border-radius: 50%;
            ion-icon {
                font-size: 8rem;
            }
        }
    }
    ion-textarea {
        min-height: 180px;
        textarea {
            border: 0.55px solid rgb(200, 199, 204)!important;
            height: 130px;
            padding: 5px!important;
            border-radius: 10px!important;
            text-align: left!important;
        }
    }
    .end_btn {
        text-align: center;
        padding-bottom: 20px;
        button {
            min-width: 180px;
        }
    }
    .input-cover {
        position: static!important;
        pointer-events: auto!important;
    } // .input-has-focus .input-cover {
    //     position: static!important;
    //     pointer-events: auto!important;
    // }
    // .input-has-focus {
    //     pointer-events: auto!important;
    // }
}