<ion-header>
    <ion-navbar color="life" [hearBarColor]="'life'">
        <ion-title>新增客户</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addCusFromContacts()">
                添加
             </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content ElasticHeader>
    <section class="head_img">
        <div (click)="uploadHeard()">
            <ion-icon color="life" name="camera"></ion-icon>
        </div>
    </section>
    <div class="title_msg">
        <ion-icon name="contact"></ion-icon> 基本信息
    </div>
    <ion-list>
        <ion-item>
            <ion-label fixed>名称</ion-label>
            <ion-input type="text" placeholder="姓名"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label fixed>手机</ion-label>
            <ion-input type="tel" placeholder="手机号码"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>船队</ion-label>
            <ion-select [(ngModel)]="personObj.fleet" cancelText="取消" okText="确定">
                <ion-option value="">请选择</ion-option>
                <ion-option color="life" *ngFor="let item of fleetCode" [value]="item.code">{{item.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>职位</ion-label>
            <ion-select [(ngModel)]="personObj.job" cancelText="取消" okText="确定">
                <ion-option value="">请选择</ion-option>
                <ion-option color="life" *ngFor="let item of jobCode" [value]="item.code">{{item.name}}</ion-option>
            </ion-select>
        </ion-item>
        <div class="title_msg" style="border-bottom: 0.55px solid rgb(200, 199, 204);">
            <ion-icon name="ios-flame"></ion-icon> 魅力
        </div>
        <ion-item style="padding-left:0px">
            <ion-range min="0" max="100" [(ngModel)]="saturation" color="secondary">
                <ion-label range-left>人气</ion-label>
                <ion-label range-right>{{saturation}}分</ion-label>
            </ion-range>
        </ion-item>
        <ion-item style="padding-left:0px">
            <ion-range min="0" max="100" [(ngModel)]="saturation" color="secondary">
                <ion-label range-left>战力</ion-label>
                <ion-label range-right>{{saturation}}分</ion-label>
            </ion-range>
        </ion-item>
        <ion-item>
            <ion-label range-left>介绍</ion-label>
            <ion-textarea placeholder="个人简介"></ion-textarea>
        </ion-item>
    </ion-list>

    <!--<br/><input type="text" value="regular input" maxlength="15" style="font-size:13px; font-family:Helvetica; font-style:italic" /><br/><br/>

    <br/><input data-nativekeyboard="true" type="text" value="max 15 chars" maxlength="15" style="font-size:13px; font-family:Helvetica; font-style:italic" /><br/><br/>

    <br/><input data-nativekeyboard='{"type":"decimal", "maxlength":4}' type="text" value="100" style="font-family: Verdana; font-size:15px; font-weight: bold" /><br/><br/>

    <br/><input data-nativekeyboard='{"type":"numbersandpunctuation", "accessorybar":{}}' type="number" value="200" style="font-family: Verdana; font-size:15px; font-weight: bold" /><br/><br/>

    <br/><input data-nativekeyboard='{"type":"decimal"}' type="text" value="19.95" style="font-family: Arial; font-size:15px; font-weight: bold" /><br/><br/>

    <br/><input data-nativekeyboard='configureNativeKeyboard("#FF0000")' type="tel" value="+31650123456" style="font-family: Arial; font-size:15px; font-weight: bold" /><br/><br/>

    <br/><input data-nativekeyboard='configureNativeKeyboard' type="email" value="sergey@google.com" style="font-family: Arial; font-size:12px; font-weight: normal" /><br/><br/>

    <br/><input data-nativekeyboard='{"type":"twitter"}' type="text" value="@eddyverbruggen" style="font-family: Arial; font-size:12px; font-weight: normal; color: #FF0000" /><br/><br/>

    <br/><textarea data-nativekeyboard='{}' style="font-size:15px; font-family:Helvetica; font-weight: bold; border-radius:0">Helvetica</textarea><br/><br/>

    <br/><textarea data-nativekeyboard='{}' style="font-size:15px; font-family:Arial; border-radius:5px">Arial, with border radius</textarea><br/><br/>-->

    <section class="end_btn">
        <button ion-button color="life" (click)="save()">提交</button>
    </section>
</ion-content>