page-more-fuc {
    $fontSize: 1.2rem;
    ion-content {
        background-color: rgb(220, 220, 220)!important;
    }
    ion-slides {
        max-height: 170px;
        background: white
    }
    .flex_box {
        margin-top: 10px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .flex_item {
            min-height: 45%;
            min-width: 18%;
            max-width: 20%;
            -webkit-box-flex: 0 0 20%;
            -moz-box-flex: 0 0 20%;
            -webkit-flex: 0 0 20%;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            section {
                align-items: center;
                width: 100%;
                img {
                    @include box(45px, 45px); // display: inherit;
                }
            }
            div {
                background-size: 100% 100%;
                @include box(40px, 40px);
                margin-left: 15%;
                border-radius: 50%;
                padding: 8px;
                ion-icon {
                    text-align: center;
                    align-items: center;
                    font-size: 2.4rem;
                }
            }
            span {
                font-family: cursive;
                font-size: $fontSize
            }
        }
        .nomal_item {
            min-width: initial!important;
            max-width: initial!important;
            flex: 1;
            &:first-child {
                border-right: 1px solid map-get($colors, life);
            }
        }
    }
    .small_p {
        font-size: $fontSize;
        color: black;
        button {
            background: rgb(255, 255, 255);
            border: 1px solId rgb(255, 165, 0);
            padding: 3px 5px;
            color: rgb(255, 165, 0);
            border-radius: 3px;
            margin: 0px 5px;
            min-height: 23px; // min-width: 53px;
        }
    }
    .swiper-slide {
        align-items: stretch;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 2px
    }
    .swiper-pagination-bullet {
        @include box(5px, 5px)
    }
}