page-sport-list {
    .scroll-content {
        border-top: none;
    }
    ion-item {
        color: green!important;
    }
    ion-item span {
        float: right;
        margin-right: 10px;
    }
}